ul {
    list-style-type: none;
    cursor: pointer;
  }

// li{
//   width: 120px;
//   height: 40px;
// }

.div_tr{
  transition: 0.7s;
}

.btn_common{
  margin: 10px;
  padding: 10px;
  width: auto;
  height: auto;
  background-color: rgba(128, 128, 128, 0.449);
  border-radius: 3px;
}

.btn_common:hover{
  color: white;
  background-color: rgba(190, 23, 190, 0.809);
}

.layer_common{
  position: fixed;
  left: 40px;
  top: 80px;
  z-index: 999;
  width: auto;
  height: auto;
  background: #ffffff;
 box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.394);
}

.span_common{
  background-color: none;
  width: 80%;
  height: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

.chose{
  background-color: rgba(255, 0, 0, 0.381);
}

.tooltip_common{
  visibility: hidden;
  position: absolute;
  delay: 0.5s;
  top: -30px;
  left: 10px;
  .pointed_common{
    position: absolute;
    z-index: 999;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
  }

  .content_common{
    z-index: 999;
    position: relative;
    top: 0px;
    right: 10px;
    background-color: black;
    color: white;
    width: 90px;
    height: 27px;
    padding-top: 3px;
    border-radius: 10px;
    text-align: center;
  }
}

.loading{
  width: 100%;
  height: 100vh;
  overflow: hidden !important;
  background-color: #ffffff;
  .gif{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.fade {
  overflow-y: scroll;
}