@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,500i,600,600i,700,700i');
@import 'variables';
@import 'common.scss';
body{
    overflow: inherit;
}

.add_friend{
    background-color: rgba(77, 77, 77, 0.68);
    width: 100%;
        
        background: #ffffff;
        margin-top: 15%;
        margin-left: 30%;
        width: 40%;
        height: auto;
        border: solid rgba(175, 55, 175, 0.816) 1px;
        border-radius: 10px;

        .modal-header{
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            background-image: linear-gradient(to right, violet, rgba(152, 14, 250, 0.455) );
            position: relative;
            height: 50px;
            padding: 2px;

            .propose_header {
                width: 300px;
                right: 40px;
                text-align: center;
                margin: auto;
                color: azure;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 30px !important;
                
                .btn_close{
                    background: none;
                    color: whitesmoke;
                    font-stretch: condensed;
                    font-size: 30px;
                    position: absolute;
                    right: 10px;
                }
            }

        }

        .modal-body{
            position: relative;
            height: 220px;
            padding: 10px;

            input{
                height: 40px;
                width: 90%;
                border-radius: 5px;
                border: solid 1px;
                border-color: rgba(152, 14, 250, 0.707);
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
        }

        .modal-footer{
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            background-color: whitesmoke;
            height: 60px;

            .btn_next{
                background-color: rgba(175, 55, 175, 0.816) ;
                margin-top:0px; 
                color: white;
                padding: 10px;
                border-radius: 3px;
                font-family: Arial, Helvetica, sans-serif;
            }
        }
}

.add_promise{
    position: fixed;
    z-index: 3;
    top: 0px;
    left: 0px;
    background-color: rgba(37, 37, 37, 0.68);
    width: 100%;
    
        background: #ffffff;
        margin-top: 15%;
        margin-left: 30%;
        width: 40%;
        height: auto;
        border: solid rgba(175, 55, 175, 0.816) 1px;
        border-radius: 10px;

        .modal-header{
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            background-image: linear-gradient(to right, violet, rgba(152, 14, 250, 0.455) );
            position: relative;
            height: 50px;
            padding: 2px;
            
            .header_add {
                float: center;
                text-align: center;
                margin: auto;
                color: azure;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 25px !important;
            }

            .btn_close{
                background: none;
                color: whitesmoke;
                font-stretch: condensed;
                font-size: 30px;
                position: absolute;
                right: 10px;
            }

            button{
                background: none;
                color: whitesmoke;
                font-stretch: condensed;
                font-size: 15px;
            }
        }

        .modal-body{
            height: 220px;
            position: relative;
            height: auto;
            padding: 10px;

            .describe{
                display: flex;
                .avatar{
                    width: 100px;
                    height: 100px;
                    #my_avatar{
                        width: 90px;
                        height: 90px;
                        border-radius: 15px;
                    }
                }
                .text_memory{
                    width: 80%;
                    textarea{
                        width: 100%;
                        height: 90px;
                       border: none;
                    }
                }
            }

            .tag_friend{
                display: flex;
                .tag{
                    width: 80%;
                }
                .to-avatar{
                    width: 20%;
                    display: flex;
                    .image_friend{
                        width: 40px;
                        height: 40px;
                    }
                }
            }

            input{
                height: 40px;
                width: 90%;
                border-radius: 5px;
                border: solid 1px;
                border-color: rgba(152, 14, 250, 0.707);
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }

            .add_more{
                display: flex;
                .more-infor{
                    border-radius: 50px;
                    background-color: rgba(255, 127, 80, 0.204);
                    border: solid white 1px;
                    margin: 10px;
                    margin-right: 5%;
                    margin-left: 5%;
                    padding: 5px;
                    height: 35px;
                    display: inline-flex;
                }

                .more-infor:hover {
                    border: solid  rgba(152, 14, 250, 0.455) 1px;
                }
            }

        }

        .modal-footer{
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            background-color: whitesmoke;
        
            .button-send{
                margin-right: 20%;
                margin-left: 20%;
                width: 250px;
                height: 35px;
                text-align:center;
                border-radius: 15px;
                background-image: linear-gradient(to right, violet, rgba(152, 14, 250, 0.455));
                border: none;
                color: azure;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-size: 17px;
         }
        }
}