@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,500i,600,600i,700,700i');
@import 'variables';
@import 'common.scss';


.list_friend {
    height: 500px;
    width: 200px;
    max-width: 200px;
    position: fixed;
    z-index: 2;
    right: 10px;
    top: 100px;
    background: #ffffff;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    margin-top: 15px;
   

    .btn_hidden{
        position: absolute;
        top: 10px;
        right: 30px;
        cursor: pointer;
    }

    .online_friend{

        position: absolute;
        height: 90%;
        bottom: 0px;
        width: 100%;
        overflow-y: auto;

        label{
            border-radius: 3px;
            background-color: rgba(128, 128, 128, 0.557);
            border: solid black 1px;
            width: 80%;
            height: 30px;
            margin: 10px;
            color: aliceblue;
            text-align: center;
            cursor: pointer;
        }
        ._is_online{
            position: absolute;
            top: 10px;
            left: 10px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
        }
    

    }

    

}