// color

$color-black: #000000;
$color-white: #ffffff;
$color-grey: #8f8f8f;
$color-grey-dark: #575757;
$color-grey-gallery: #ebebeb;
$color-grey-light: #f5f5f8;
$color-grey-mercury: #e1e1e1;
$color-violet: #8250c8;

// font-size

$font-root: 14px;
$font-medium: 16px;
$font-bigger: 22px;
$font-smaller: 12px;

// font-family

$font-body: 'Montserrat', sans-serif;