@import '../common';

.newfeed{
    .left-navigator{
        position: fixed;
        top: 80px;
        left: 0px;
        height: 100vh;
        width: 25vh;
    }

    .post-memory{
        position: absolute;
        width: 60%;
        left: 30vh;
        .new-post {
            position: absolute;
            width: 100%;
            top: 80px;
            height: 200px;
        }

        .friend-propose{
            position: absolute;
            top: 300px;
            width: 100%;
            height: 2000px;
            border: solid gray 1px;
        }
    }
}