@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,500i,600,600i,700,700i");
@import "../variables";
@import "../common";
@import "../responsive";

body {
  overflow-y: auto;
}

.modal {
  border: none;
}

.add_friend {
  .modal-content {
    top: 133px;
    width: 600px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 14px 52px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
  }

  .modal-header {
    width: 598px;
    height: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #8250c8;

    .propose_header {
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff;

      .btn_close {
        background: none;
        color: whitesmoke;
        font-stretch: condensed;
        font-size: 30px;
        position: absolute;
        right: 14px;
        top: 14px;
      }
    }
  }

  .modal-body {
    position: relative;
    height: auto;
    padding: 0px 42px 0px 42px;
    border: #14192700;

    .search-filter {
      height: 126px;
      position: relative;
      #tag-friend {
        position: absolute;
        top: 36px;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #141927;
      }

      input {
        position: absolute;
        padding: 18px;
        top: 70px;
        height: 54px;
        width: 100% !important;
        border-radius: 5px;
        border: solid 1px #e1e1e1;
        background-color: #ffffff;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #8250c8;
      }

      input::placeholder {
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #b8babe;
      }

      ul {
        position: absolute;
        top: 135px;
        width: 220px;
        height: 234px;
        padding: 18px;
        margin-top: 10px;
        list-style-type: none;
        overflow-y: auto;
        z-index: 30;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.619);
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
        border: solid 1px #e1e1e1;
        background-color: #ffffff;

        li {
          // background-color: cadetblue;
          color: white;
          border-radius: 3px;
          height: 36px;
          width: 100%;
          margin-bottom: 18px;
          font-family: Montserrat;
          font-size: 14px;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #5a5e67;

          #display_name {
            position: relative;
            left: 54px;
            width: 140px;
            height: 18px;
            margin: none;
            padding: none;
          }

          #user_name {
            position: relative;
            bottom: 0px;
            left: 54px;
            margin: none;
            padding: none;
            font-family: Montserrat;
            font-size: 12px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #8250c8;
          }
        }

        .label__search:hover {
          cursor: pointer;
        }
      }
      .filter_img {
        position: absolute;
        width: 36px;
        height: 36px;
        float: right;
        // border: gray solid 1px;
        border-radius: 50%;
      }
    }

    .content-promise {
      position: relative;
      height: 193px;
      margin-top: 34px;
      #your-promise {
        width: auto;
        position: absolute;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #141927;
      }

      textarea {
        position: absolute;
        padding: 18px;
        top: 34px;
        left: 0px;
        width: 100%;
        height: 160px;
        border-radius: 5px;
        border: solid 1px #e1e1e1;
        background-color: #ffffff;
      }
    }

    .tag-value {
      position: relative;
      top: 16px;
      height: 62px;
      width: 100%;
      border: solid 1px #e1e1e1;
      border-right: none;
      border-left: none;
      .content-value {
        position: absolute;
        top: 20px;
        width: 100%;
        input {
          height: 20px;
          border: none;
          width: 300px;
        }

        ::placeholder {
          font-family: Montserrat;
          font-size: 12px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #8250c8;
        }
      }

      .information {
        position: absolute;
        display: flex;
        right: 0px;
        top: 20px;
        width: 30%;
        .more-infor {
          position: relative;
          width: 30px;
          height: 18px;

          cursor: pointer;
          span {
            width: 24px;
            height: 24px;
          }

          i {
            width: 20px;
            height: 20px;
          }

          #chose-option {
            position: absolute;
            top: 0px;
            right: -10px;
          }

          .option {
            li:hover {
              width: 80px;
              color: white;
              background: #b276ff;
            }
          }
        }
      }
    }

    .img-infor {
      position: relative;
      height: auto;
    }
  }

  .modal-footer {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #ffffff;
    height: 100px;
    border-left: solid rgba(0, 0, 0, 0.34) 1px;
    border-top: none;
    .button-send {
      position: absolute;
      bottom: 30px;
      left: 203px;
      width: 172px;
      height: 46px;
      border-radius: 23px;
      box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.06);
      background-image: linear-gradient(340deg, #b276ff, #fe8dc3);
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
    }
  }
}
