@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,500i,600,600i,700,700i');
@import '../variables';
@import '../common';
@import '../responsive';

.notification{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 25%;
    top: 30px;
    z-index: 4;
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0.693);
    cursor: pointer;
    i{
    color: rgba(255, 228, 196, 0.83) !important;
    }

    i:hover{
        border-radius: 2px;
        transition: 0.2s;
        color: rgb(255, 255, 255) !important;
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.564);
        transform: scale(1.5 , 1.5);

    }

    .pointed{
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 20px solid white;
    }

    .number_notification{
        background: red;
        color: rgba(255, 255, 255, 0.863);
        width: 15px;
        height: 15px;
        position: absolute;
        top: -3px;
        right: -8px;
        text-align: center;
        border-radius: 50%;
    }

    .number_notification:hover{
        color: white;
        transition: 0.5s;
    }

    .list_notification{
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.564);
        overflow-y: auto;
        position: relative;
        right: 180px;
        background-color: white;
        border: solid rgba(128, 128, 128, 0.285) 1px;
        width: 400px;
        height: 550px;
        border-top: none;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        .all__content{
            margin-top: 30px;
            margin-left: 10px;
            margin-right: 10px;
            height: auto;
            width: auto;
            color: black;
            .li_noti{
                margin-top: 3px;
                background-color: white;
                height: 60px;
                width: 100%;
                border-bottom: solid rgba(128, 128, 128, 0.551) 1px;
                padding: 6px;
                display: flex;

                .sender_img{
                    border: solid orange 1px;
                    width: 50px !important;
                    height: 50px !important;
                    position: relative;
                    border-radius: 50%;
                    margin-right: 10px;
                }

                .noti_content{
                    position: relative;
                    top: 10px;
                    width: auto;
                    height: 30px;
                }

                .img_receiver{
                    width: 40px;
                    height: 50px;
                    border: solid purple 1px;
                    left: 10px;
                    float: right;
                }

                
            }
           
            .li_noti:hover{
                background-color: rgba(128, 255, 0, 0.578)
            }
        }

        br{

        }
        .check_all{
            position: relative ;
            color: black;
            margin: 10px;
            border-bottom: solid rgba(243, 36, 105, 0.714) 1px;

            span {
                float:  right;
            }
        }
    }
}