#loading {
    background: url('../src/assets/image/gif/PG23.gif') no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

