<div class="container-fluid">
  <!-- content of home -->
  <div class="row">
    <div class="col-md-9">
      <div class="row">
        View All
        <div>

        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="row">
            View yourselt
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            Pending
          </div>
        </div>

      </div>
    </div>
    <!-- bar -->
    <div class="col-md-3">
      <!-- Create New Status -->
      <div class="create-new-status">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modelId">
          Create new Status
        </button>

        <!-- Modal -->
        <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
         <app-create-status></app-create-status>
        </div>
      </div>
      <!-- Function -->
      Bar
    </div>
  </div>
</div>